<h1 class="mt-md-4">Już ostatni krok...</h1>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card border-0">
            <div class="card-body">
                <h4 class="card-title">Akceptacja płatności</h4>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <div id="successAlert" class="alert alert-danger">
                            <strong>UPS... Coś poszło nie tak!</strong> Twoja akceptacja płatności nie została zatwierdzona.<br />Niewystarczająca ilość środków w portfelu.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>