<h1 class="mt-md-4">Już ostatni krok...</h1>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card border-0">
            <div class="card-body">
                <h4 class="card-title">Aktywacja konta</h4>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <div id="successAlert" class="alert alert-success">
                            <strong>UDAŁO SIĘ!</strong> Konto zostało aktywowane.<br /> Teraz możesz się zalogować, klikając <a class="alert-link" href="/Login/Main">tutaj</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>