@model Kaucja.Models.AcceptTransactionModel

<h1 class="mt-md-4">Już ostatni krok...</h1>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div id="warningAlert" class="alert alert-dismissible alert-warning  d-none">
            <button class="close" type="button" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">UWAGA!</h4>
            <p class="mb-0">Dane usługi depozytowej nie zostały poprawnie pobrane. Spróbuj odświeżyć stronę. Jeśli błąd nadal będzie się powtarzał, skontaktuj się z administratorem systemu.</p>
        </div>
        <div class="card border-0">
            <div class="card-body">
                <h4 class="card-title">Akceptacja usługi depozytowej</h4>
                <fieldset>
                    <div class="row">
                        <div class="text-center bg-light col-md-12 mb-md-3 py-1">
                            <span>Dnia <span id="DateOfOrder" class="font-weight-bold"></span>, zawarta została usługa depozytowa: <span id="TransactionCode" class="font-weight-bold"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right col-md-6">
                            Zleceniodawca:
                        </div>
                        <div class="form-group col-md-6">
                            <span id="Customer" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right col-md-6">
                            Wykonawca:
                        </div>
                        <div class="form-group col-md-6">
                            <span id="Contractor" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center bg-light col-md-12 mb-md-3 py-1">
                            <span class="font-weight-bold align-middle">Szczegóły usługi depozytowej</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right col-md-6">
                            Nazwa:
                        </div>
                        <div class="form-group col-md-6">
                            <span id="Name" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right col-md-6">
                            Wykonanie od:
                        </div>
                        <div class="form-group col-md-6">
                            <span id="FromDate" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right col-md-6">
                            Wykonanie do:
                        </div>
                        <div class="form-group col-md-6">
                            <span id="ToDate" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right col-md-6">
                            Waluta:
                        </div>
                        <div class="form-group col-md-6">
                            <span id="Currency" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right col-md-6">
                            Kwota:
                        </div>
                        <div class="form-group col-md-6">
                            <span id="Amount" class="font-weight-bold"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right col-md-6">
                            Opis:
                        </div>
                        <div class="form-group col-md-6">
                            <span id="Description"></span>
                        </div>
                    </div>
                </fieldset>
                <p class="text-danger text-center">Jeśli usługa depozytowa została wykonana zgodnie ze szczegółami zawartymi w umowie, kliknij przycisk <strong>Akceptuj</strong>.</p>
                <form id="Accept" asp-action="Accept" asp-controller="Transaction" method="post">
                    <input name="Id" type="hidden" />
                    <div class="row">
                        <div class="form-group col-md-12 text-center mt-md-4">
                            <input type="submit" value="Akceptuj" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-md-2">
                            <div id="progressBar" class="progress d-none">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span id="progressText"></span></div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-md-2">
                            <div id="successAlert" class="alert alert-success d-none">
                                <strong>UDAŁO SIĘ!</strong> Twoje dane zostały zapisane.<br /><strong>Sprawdź skrzynkę pocztową z linkiem aktywacyjnym.</strong>
                            </div>
                        </div>
                        <div class="col-md-12 mt-md-2">
                            <div id="invalidAlert" class="alert alert-danger d-none">
                                <strong>UPS... Coś poszło nie tak!</strong> Twoje dane nie zostały zapisane.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("ValTransactionScripts/_ValDetailsTransactionScriptsPartial");}
}
