@{ 
    Layout = null;
}

<div class="row">
    <div class="col-md-12 mt-md-2">
        <div class="alert alert-info">
            <strong>UPS... Coś poszło nie tak!</strong><br />Nie możesz zawrzeć usługi depozytowej z samym sobą! Spróbuj wpisać poprawny kod klienta.
        </div>
    </div>
</div>