@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 mt-md-2">
        <div class="alert alert-info">
            <strong>UPS... Coś poszło nie tak!</strong><br />Nie masz jeszcze zawartych usług depozytowych. Kliknij, <a asp-action="Create" asp-controller="Transaction" class="alert-link">tutaj,</a> aby zawrzeć nową usługę depozytową.<br />
            <strong>PAMIĘTAJ!</strong> Musisz mieć zdefiniowane przynajmniej jedno konto bankowe, aby mieć możliwość zawarcia usług depozytowych.
        </div>
    </div>
</div>