<h1 class="mt-md-4">Już ostatni krok...</h1>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card border-0">
            <div class="card-body">
                <h4 class="card-title">Akceptacja usługi depozytowej</h4>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <div id="successAlert" class="alert alert-danger">
                            <strong>UPS... Coś poszło nie tak!</strong> Twoja akceptacja usługi depozytowej nie została przekazana do administratora.<br />Spróbuj odświeżyć stronę. Jeśli błąd nadal będzie się powtarzał, skontaktuj się z administratorem systemu.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>