@{ 
    Layout = null;
}

<div class="row">
    <div class="col-md-12 mt-md-2">
        <div class="alert alert-info">
            <strong>UPS... Coś poszło nie tak!</strong><br />Nie masz jeszcze zdefiniowanych kont bankowych lub nie zostały one poprawnie pobrane. Kliknij, <a asp-action="Create" asp-controller="ClientBankAccount" class="alert-link">tutaj,</a> aby dodać nowe konto bankowe.<br />Jeśli błąd nadal będzie się powtarzał, skontaktuj się z administratorem systemu.
        </div>
    </div>
</div>