@{
    @using Microsoft.AspNetCore.Http
    @using Newtonsoft.Json
    byte clientType = 0;
    bool isActive = false;

    if (Context.Session.GetString("ClientType") != null)
    {
        string str = Context.Session.GetString("ClientType");
        LoginModel obj = JsonConvert.DeserializeObject<LoginModel>(str);
        clientType = obj.ClientType;
        isActive = obj.Active;
    }

    if (clientType == 1)
    {

    }
    else if (clientType >= 2)
    {
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex mt-auto">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-4">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Index">Główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="WhatIsDepozyt">Co to jest depozyt?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy">Regulamin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 ml-md-auto">
                        <li class="nav-item dropdown ml-md-auto">
                            <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">Środki</a>
                            <div class="dropdown-menu" style="left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 38px, 0px);" x-placement="bottom-start">
                                @if (isActive)
                                {
                                    <a class="dropdown-item" asp-controller="Payment" asp-action="Main">Wpłata na platformę</a>
                                    <a class="dropdown-item" asp-controller="Withdrawal" asp-action="Main">Wypłaty / Saldo</a>
                                    <a class="dropdown-item" asp-controller="ClientBankAccount" asp-action="Main">Konta bankowe</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Transaction" asp-action="Main">Usługi depozytowe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Recipient" asp-action="Payment">Zapłać Kontrahenci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Recipient" asp-action="Main">Kontrahenci</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">Ustawienia konta</a>
                            <div class="dropdown-menu" style="left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 38px, 0px);" x-placement="bottom-start">
                                <a class="dropdown-item" asp-controller="Representative" asp-action="Main">Reprezentant</a>
                                <a class="dropdown-item" asp-controller="CompanyData" asp-action="Main">Dane firmy</a>
                                <a class="dropdown-item" asp-controller="Client" asp-action="Main">Moje konto</a>
                            </div>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link" asp-controller="Login" asp-action="Logout">Wyloguj</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else if (clientType == 0)
    {

    }

    if (clientType == 1)
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex mt-auto">
                    <ul class="navbar-nav flex-grow-1 ml-md-auto" style="background: red !important;">
                        <li class="nav-item ml-4">
                            <a class="nav-link" asp-controller="Payment" asp-action="Main">Wpłata na platformę</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Withdrawal" asp-action="Main">Wypłaty / Saldo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ClientBankAccount" asp-action="Main">Konta bankowe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Transaction" asp-action="Main">Usługi depozytowe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Recipient" asp-action="Payment">Zapłać Kontrahenci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Recipient" asp-action="Main">Kontrahenci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Representative" asp-action="Main">Reprezentant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ClientData" asp-action="Main">Moje dane</a>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Client" asp-action="Main">Moje konto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    } else if (clientType >= 2)
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white" style="background: red !important;">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex mt-auto">
                    <ul class="navbar-nav flex-grow-1 ml-md-auto" style="background: red !important;">
                        <li class="nav-item ml-4">
                            <a class="nav-link" asp-controller="Payment" asp-action="Main">Wpłata na platformę</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Withdrawal" asp-action="Main">Wypłaty / Saldo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ClientBankAccount" asp-action="Main">Konta bankowe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Transaction" asp-action="Main">Usługi depozytowe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Recipient" asp-action="Payment">Zapłać Kontrahenci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Recipient" asp-action="Main">Kontrahenci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Representative" asp-action="Main">Reprezentant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="CompanyData" asp-action="Main">Dane firmy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Client" asp-action="Main">Moje konto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
}

<style>

    .navbar-brand {
        background: #212751 !important;
        padding-right: 2em;
        border-bottom-right-radius: 70%;
        box-shadow: 4px 4px 4px black;
    }

    nav {
        height: 200%;
        padding: 0 !important;
        margin: 0;
    }

        nav .container-fluid {
            background: #1b1464 !important;
            padding: 0 !important;
            margin: 0 !important;
            width: 100vw !important;
            height: 100%;
        }

            nav .container-fluid a {
                color: #FAFAFA !important;
            }

    .navbar-nav {
        padding: 0;
        margin-top: auto !important;
        margin-bottom: 0 !important;
    }

    .dropdown-item {
        background: #e30613;
    }

        .dropdown-item:hover {
            background: #212751 !important;
        }

    .dropdown-divider {
        background: #e30613;
        padding: 0;
        margin: 0;
    }
</style>
